@{
    ViewData["Title"] = "Página Inicial";
}

<section class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <h2>João Capoani</h2>
</section>

<section class="text-center my-5">
    <a type="button" class="btn btn-success" asp-action="Importacao">Sincronizar clientes/produtos/vendas</a>
</section>